In [2]:
import pandas as pd

In [ ]:
import os

def extract_col(path: str) -> str:
    return path.split('/')[-1].split('_')[1]+ '_' + path.split('/')[-1].split('_')[-1].split('.')[0]

prod_list = os.listdir('Energetika/produkce')
prod_labels = [extract_col(col) for col in prod_list]

In [ ]:
dfs = {}

for path,label in zip(prod_list, prod_labels):
    df = pd.read_csv(f'Energetika/produkce/{path}').drop(columns=['Unnamed: 0'])
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df.columns = [f'{col}_{label}' if col != 'timestamp' else col for col in df.columns]
    dfs[extract_col(path)] = df

from functools import reduce
df = reduce(lambda left, right: pd.merge(left, right, on='timestamp'), dfs.values())
df.drop_duplicates(subset='timestamp')

,timestamp,prod_area_01_vrchlickeho,prod_area_02_vrchlickeho,prod_area_03_vrchlickeho,prod_total_vrchlickeho,prod_machovne,prod_preislerova,prod_dum,prod_homolkou,prod_area_01_komenskeho,prod_area_02_komenskeho,prod_total_komenskeho,prod_area_01_stad,prod_area_02_stad,prod_total_stad,prod_drasarova
0,2023-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36051,2023-12-31 22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36052,2023-12-31 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36053,2023-12-31 23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36054,2023-12-31 23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36055,2023-12-31 23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df.to_csv('Energetika/produkce.csv', index=False)

In [ ]:
cons = pd.read_csv('Energetika/beroun_counsumptions.csv').drop(columns=['Unnamed: 0'])
cons['timestamp'] = pd.to_datetime(cons['timestamp'])
cons.columns = [f'cons_{col}' if col != 'timestamp' else col for col in cons.columns]

In [ ]:
df_all = pd.merge(cons, df, on='timestamp')

In [19]:
# During exploratory analysis it was found that there are some duplicates in the data

df_all = df_all.drop_duplicates(subset='timestamp')

In [20]:
df_all.to_csv('Energetika/prod_cons.csv', index=False)